:root {
  --font-main:
    'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background-color: #111827;
}

body {
  margin: 0;
  font-family: var(--font-main);
  font-size: 14px;
}

.table-cell {
  font-size: 13px;
}
